.section4 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 0rem;
  padding: 4rem 2rem;
}
.right-section4,
.left-section4 {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-section4 img {
  max-width: 50%;
  object-fit: contain;
}
.left-section4 {
  padding-left: 5%;
}
.right-section4 {
  flex-direction: column;
  gap: 20px;
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: white;
  align-items: flex-start !important;
}
.right-section4 p {
  width: 70%;
  line-height: 1.6;
}
.right-section4 h1 {
  font-size: 2.4rem;
}
.readmore {
  padding: 12px 15px;
  background-color: transparent;
  font-size: 0.95rem;
  color: white;
  font-weight: 600;
  border-radius: 60px;
  border: 2px solid white;
  width: 210px;
  height: 50px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.readmore:hover {
  background-color: white;
  color: black;
}
@media screen and (max-width: 1635px) {
  .right-section4 p {
    width: 90%;
  }
}
@media screen and (max-width: 1485px) {
  .left-section4 img {
    max-width: 70%;
  }
}
@media screen and (max-width: 948px) {
  .right-section4 p {
    width: 100%;
  }
}
@media screen and (max-width: 838px) {
  .section4 {
    flex-direction: column;
    gap: 3rem;
  }
  .left-section4 {
    padding: 0;
  }
  .right-section4 {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .left-section4 img {
    max-width: 100%;
  }
  .right-section4 {
    padding-inline: 0.1rem;
    align-items: center !important;
    text-align: center;
  }
}
