.project {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  margin-top: 4rem;
}
@media screen and (max-width: 1438px) {
  .project {
    width: 75%;
  }
}
@media screen and (max-width: 1138px) {
  .project {
    width: 85%;
  }
}
@media screen and (max-width: 800px) {
  .project {
    width: 100%;
    padding: 0rem 1rem;
    margin-top: 3rem;
  }
}
